body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

main:after { /* after é um pseudo-elemento */
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: linear-gradient(90deg, rgba(0,0,0,1) 10% rgba(0,0,0,0.05926120448179273) 50% rgba(0,0,0,1) 90%);
    z-index: -1;
}

.conteudo {
    display: flex;
    flex-direction: column; /* para centralizar na vertical é necessário mudar o flex-direction para COLUMN, o padrão é ROW (horizontal) */
    min-height: 100vh;
    justify-content: space-evenly; /* separa as DIVs de forma uniforme */
}

.informacoes .logo {
    max-width: 350px;
    /* filter: invert(1); inverte a cor */
    margin-bottom: 80px;
}

.informacoes .descricao {
    width: 49%;
    font-size: 24px;
    color:  #ffffff;
    line-height: 30px;
}

.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;  /* espaça os elementos */
}

.botoes-carrossel .botao { /* editando os botoes do carrossel */
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer; /* o mouse vira uma mãozinha */
    border-color: #ffffff;
}

.botoes-carrossel .botao.selecionado { /* propriedades juntas dizem que as 2 classes estão na mesma TAG */
    background-color: #1d8346;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* o VH quer dizem a altura 100% com base da classe PAI */
}

.menu-lateral ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral .icone {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out; /* velocidade da animação e o tipo da animação */
}

.menu-lateral .icone:hover { /* hover = quando passar o mouse em cima ele efetua essa parte */
    transform: scale(1.2);
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carrossel .imagem {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* object-fit = caber a imagem na tela / cover = centraliza a imagem da melhor forma */
    display: none;
    animation: mudarImagem 0.7s; /*animação da mudança de imagens*/
}

.carrossel .imagem.ativa {
    display: block; /* bloqueia a imagem ativa */
}

@keyframes mudarImagem { /* configuração da animação */
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}